<% content_for :title, "Sign up" %>

<div class="container" style="background: #fff; margin-top: 1%; border-radius: 25px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

  <% flash.each do |key, value| %>
      <div class="col-md-10 col-sm-12 p-a-3">
        <div class="row omb_row-sm-offset-3 no-gutter m-a-3">
          <div class="col-xs-12 col-sm-6">
            <%= content_tag(:span, value, :class => "label label-danger") %>
          </div>
        </div></div>
  <% end %>
  <% flash.clear %>
  <br/>
  <div class="row" style="padding: 20px">

    <% image_url('drawing.png') %>
      <%= form_tag({:action => :create, :method => :post}, {:class => 'form-horizontal'}) %>
      <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
          <%= text_field "member", "name", "class" => "form-control", "placeholder" => "Full Name" %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <%= text_field "member", "email", "class" => "form-control" , "placeholder" => " @ncsu.edu"%>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <%= password_field "member", "password_field", "class" => "form-control" %>
        </div>
      </div>
    <input type="hidden" name="member[is_admin]" value="false">
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Reset</button>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
      </div>
      </form>
  </div>
</div>
