<h1>Welcome members</h1>

<%= form_tag( { :action => :create, }, { :method => :post }) %>
Name : <%= text_field "member", "name", "size" => 20 %> <br/>
Email : <%= text_field "member", "email", "size" => 20 %> <br/>
Password : <%= password_field "member", "password", "size" => 20 %><br/>
<%= submit_tag("Sign up") %>


<h1>registered members</h1>
<table>
<tbody>
<% @members.each do |member| %>
    <tr>
      <td><%= member.name %></td>

    </tr>
<% end %>
</tbody>
</table>
